<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Registration Page</h1>
    <form class="" action="index.html" method="post">
      Name: <input type="text" name="" value="">
      <br>
      Age : <input type="text" name="" value="">
      <br>
      Gender:<input type="text" name="" value="">
      <br>
      Email:<input type="text" name="" value="">
      <br>
      phone:<input type="text" name="" value="">
      <br>
      <button type="button" name="button">Submit</button>
    </form>

  </body>
</html>
